#header {
  background-color: #eb3016;
  height: 100px;
  display: flex;
}

#bandeira {
  background: transparent;
  height: 100px;
}

#titulo {
  margin-left: 3%;
  margin-top: 20px;
  margin-bottom: 30px;
  color: white;
}

#button {
  display: flex;
  margin-left: 25%;
  margin-top: 12px;
}

@media screen and (max-width: 599px) {
  #titulo {
    font-size: medium;
    margin-left: 3%;
  }
  #button {
    margin-left: 25%;
    margin-top: 12px;
  }
}
